*{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar-brand {
    width: 92px;
}
img {
    width: 100%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1256px;
}
.yy{
    background-color: #f7f9ff;
}
.nav-link {
    margin-left: 15px;
}
.banner-tex h1{
    font-size: 77px;
}
.banner-tex p {
    font-size: 21px;
    line-height: 2.5rem;
}
.banner-tex1.r {
    margin-left: 137px;
}
/* <!----------------- number-counter -------------- --> */

.number-counter{
    background: rgba(132, 144, 255);
}

.txt {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
  
}
.tx {
    font-size: 24px;
    padding-top: 10px;
    color: #fff;
}


.box{
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
}
.btn-light.shadow.rounded-circle {
    height: 100px;
    width: 100px;
    margin: auto;
}
.h11 {
    margin-top: 23px;
    display: inline-block;
}
.box p{
    font-size: 24px;
}
.card.ms-auto {
    width: 33rem;
}
.box a{
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
}
.about-item {
    margin-top: 105px;
    border-radius: 10px;
    box-shadow: -2px 3px 11px 3px #ddd;
}

.about-item .card img{
    width: 107px;
    height: auto;
    margin-top: -64px;
    margin-left: 12px;
    box-shadow: 1px 1px 14px 2px #ddd;
}
 .about-item .card a{
    box-shadow: 1px 1px 14px 2px #ddd;
}
.card-subtitle.tt{
    font-size: 26px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 20px;
}

.card.text-center.border-0.shadow-lg {
opacity: 0.6;
}
.from-tex.align-items-center {
    font-size: 30px;
    margin-left: 9rem;
}



.color {
    display: flex;
  
    justify-content: space-between;
  }
  .item2 {
    width: 17%;
  }
  .item1 {
    width: 60%;
  }


  /* Responsive CSS */
  @media (max-width:1024px) {
    .box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box p {
        font-size: 21px;
    }
  }
  @media (max-width:992px) {
    .box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box p {
        font-size: 21px;
    }
  }

@media (max-width:991px) {

    .imga img {
        width: 100%;
        padding: 0px 68px;
    }
    .box p {
        font-size: 18px;
    }
    .col-lg-7.d-flex.align-items-center {
        justify-content: center;
        margin-top: 27px;}
        .banner-tex1.r {
            margin-left: 10px;
        }
    }
@media (max-width:768px) {
    .box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box p {
        font-size: 15px;
    }
    .box h2{
        font-size: 19px;
    }
    .box h3{
        font-size: 17px;
    }
}
@media(max-width:800px){
    .h2.mb-4 {
        margin-top: 20px;
    }
}
@media (max-width:576px) {
    .box {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }
    .box p {
        font-size: 25px;
    }
    .box h2{
        font-size: 30px;
    }
    .box h3{
        font-size: 30px;
    }
    .h11 {
        font-size: 47px;
    }
    .from-tex.align-items-center {
        margin-left: 0;
    }
}
@media(max-width:540px){
    .card.ms-auto {
        width: 21rem;
    }
}
@media(max-width:400px){
    .from-tex.align-items-center p {
        font-size: 18px;
        margin-left: 0px;
    }
    .from-tex.align-items-center {
       
        margin-left: 0rem;
    }
    .card.ms-auto {
        width: 21rem;
    }
}
@media(max-width:360px){
    .banner-tex p {
        font-size: 14px;
        
    }
    .banner-tex h1 {
        font-size: 31px;
    }
}